<p>video</p>
<p>{{channelName$ | async}}</p>

<!--<iframe *ngIf="channelName$ | async as channelName"-->
<!--  src="https://player.twitch.tv/?{{channelName}}"-->
<!--  allowfullscreen>-->
<!--</iframe>-->
