<div class="row">
  <div class="col-12">
    <h2>Live streams</h2>
  </div>
  <div *ngFor="let liveStream of liveStreams$ | async" class="col-lg-3">
    <app-live-stream-item [liveStream]="liveStream"></app-live-stream-item>
  </div>
</div>

