<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Streamr</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" role="main">
  <router-outlet></router-outlet>
</div>
