@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/mixins/grid-framework';
@import '~bootstrap/scss/mixins/grid';
@import '~bootstrap/scss/mixins/text-truncate';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/position';
@import '~bootstrap/scss/utilities/display';

$max-content-width: 1600px;

.container {
  max-width: $max-content-width;
  min-height: calc(100vh - #{$header-height} + #{$footer-height});
}



