@import 'node_modules/@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-deep-purple, A200, A100, A400);
$app-warn:    mat-palette($mat-deep-purple);

$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));
@include angular-material-theme($app-theme);
