<div class="live-stream-item">
  <a [routerLink]="link"><img [src]="image"/></a>
  <div class="content">
    <h4>{{liveStream.title}}</h4>
    <h5>{{liveStream.game_name}}</h5>
    <p>{{liveStream.user_name}}</p>
  </div>
</div>
