@import '~normalize.css/normalize.css';
@import 'style/theme';
@import 'style/variables';
@import 'style/breakpoints';
@import 'style/layout';
@import 'style/global';

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*,
::after,
::before {
  box-sizing: inherit;
}

